/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     background: white;
     background-size: 100%;
     font-size: 12px;
     font-family: Helvetica;
     margin:0px;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 100%;
    max-width: 985px;
    margin: 40px auto auto auto;
    height:auto;
    clear:both;
  
}

h1 {
     background-image: url("../images/header_image.png");
     background-repeat: no-repeat;
     border-bottom: 5px solid white;
   
     margin:0px;
     padding-top: 30px;
     background-size: cover;
     height:250px;
     font-family: 'Oswald', sans-serif;
     font-size: 50px;
     text-align: center;
}

.wrapper {
    max-width: 1280px;
    margin:auto;
}


ul #menu {
    width:100%;
}
/*Strip the ul of padding and list styling*/
nav ul {
    list-style-type:none;
    background-image: url("../images/full_wood_texture.png");
    margin:0;
    border-top: 10px white;
    padding:0;
    position: absolute;
    width: 100%;
    max-width: 1279px;
}

/*Create a horizontal list with spacing*/
nav li {
    display:inline-block;
    width: 11.1%;
    float: left;
 
    
}

/*Style for menu links*/
nav li a {
    display:block;
    width:auto;
    min-width:140px;
    height: 50px;
    text-align: center;
    font-family: Oswald;
    color: #B22812;
    background: none;
    text-decoration: none;
    padding: 20px 20px;
    min-width: 8%;
}

#menu li a {
    border-right: 1px solid #B22812;
 
}

#menu ul.hidden li a {
    border-right: none;
}

#menu li:last-child  a{
    border-right:none;
}

/*Hover state for top level links*/
li:hover a {
    text-decoration: underline;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}


/*Display the dropdown on hover*/
ul li:hover .hidden {
    display: block;
    background-image: url("../images/full_wood_texture.png");
    top:40px;
    width:11.1%;
    position: absolute;
}

.hidden li {
    display: block;
    width: 100%;
}

/*Style for dropdown links*/
.hidden li a {

    background-image: url("../images/full_wood_texture.png");

    color: #2f3036;
    height: 40px;
    margin: 0px;

  
}

iframe {
    border-radius: 6px;
    background: transparent;
}
/*Hover state for dropdown links*/
.hidden a:hover {
    opacity: 0.4;
    text-decoration: none;

  
}


/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    color: #fff;
    width: 100%;
    background-image: url("../images/full_wood_texture.png");
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

#main {

     float: left;
     width:60%;
     margin-top: 60px;
     margin-right: 10px;

}

aside {
 
     float: right;
     width:38%;
     margin-top: 60px; 
}



article {
     
     width: 100%;
     background-size: 100%;
     padding:0px;
     height: 300px;
     margin-bottom: 20px;
     float:left;
     color: white;
     box-sizing: border-box;
     font-family: "Oswald", sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;

}

article:hover {
    opacity: 0.6;
}

article h3 {
    font-color: white;
     margin:0px;
     padding: 20px;

}

article p{
    margin: 0px;
    padding:35px;
}

.uniform{
  
    background-image: url("../images/uniform-photo_overlay.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.bat {
    background-image: url("../images/Glove-and-ball_overlay.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.swingtop{
   background-image: url("../images/swing-photo_overlay.png");
   background-size: cover;
   background-repeat: no-repeat;
}

.swingbottom{
    background-image: url("../images/batters-legs_overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.contentbox ul {
     background-color: gray;
     width: auto;
     padding:10px;
     margin-bottom: 10px;
     float:left;
     color: black;
     box-sizing: border-box;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;


}

.detailbox {
     float:left;
     background-image: url("../images/Glove-and-ball_overlay.png");
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     border-style: 10px solid white;
     padding: 10px 20px 10px 20px;
     box-sizing: border-box;
     margin-top: 40px;
     margin-right: 10px;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;
     border-radius: 4px;
}

.detailbox h4 {
    margin:0px;
    padding:0px;
}

.paypal_button {
    width: 200px;
    padding-bottom: 500px;
}

.payment_form {
    border: none;
    margin: 50px;
    padding: 0px;

}

.pricing {
    float: left;
    width: 30%;
    min-width: 275px;
    padding:20px;
    background: rgba(255,255,255,.4);
    display: block;
    margin:15px;
    border-radius: 6px;
    color: white;

}

.fees {
    float: left;
    width: 70%;
    min-width: 275px;
    padding:20px;
    background: rgba(255,255,255,.4);
    display: block;
    margin:15px;
    border-radius: 6px;
    color: white;

}
.coaches {
    float: left;
    margin-right: 40px;
    min-width: 400px;
}

table {
    margin-bottom: 30px;
    font-family: "Oswald", sans-serif;
}

form .contact{
    margin: 0 auto;
    width: 600px;
    padding:60px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

input, textarea {
    font: 1em , "Oswald",sans-serif;
    width: 500px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:10px;
}

input {
    border-radius: 6px;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
    border-radius: 6px;
}

.form_wrapper submit {
     font-size: 18px;
     margin-top: 20px;
     margin-bottom: 40px;
     text-decoration: none;
     background: #D9D9D9;
     color:#0947B2;
     font-family: 'Oswald', sans-serif;
     border-radius: 4px;
     padding: 10px;
    
}

button:hover {
    background: white;
}

.coach_bio {
    width: 30%;
    font-size: 18px;
    min-width: 200px;

    display: inline-block;
    margin-right: 8px;
    margin-left: 18px;
    padding-bottom: 60px;
}


.lessons {
    display: inline-block;
}

.coach_bio img {
    width:  100%;
    min-width: 200px;
    height: auto;
    max-height: 400px;
    max-width: 500px;
    height: auto;
    border-radius:15px;
    position: relative;
}


.news {
     background-color:rgba(214, 213, 212, 0.85);
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
     float:left;
     color: black;
     box-sizing: border-box;
     font-family: 'Oswald', sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;  
}

 .news a{
    background:none;
    color: blue;
    text-decoration: none; 
    }
 
 .detailbox a {
    background:none;
    color: white;
    text-decoration: none; 
    font-size: 20px;
    font-family: "Oswald",sans-serif;
 }

.aboutimg{
    width:100%;
    height:auto;
    position: center;
    border-radius: 40px;
}
.waivers {
    width: 40%;
    min-width: 300px;
    min-height: 200px;
    padding:10px;
    margin-right: 20px;
    background: rgba(255,255,255,.4);
    margin:15px;
    border-radius: 6px;
    color: white;
    
}

.waivers ul {
    min-height: 200px;
}

.waivers a {
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}

.waivers a:hover{
    color:blue;
}
.smallbox {
     background-color:rgba(214, 213, 212, 0.85);
     width: auto;
     height: 300px;
     padding: 0px;
     margin-bottom: 20px;
     float:left;
     color: white;
     box-sizing: border-box;
     font-family: 'Oswald', sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;
}

.smallbox p {
    padding: 0px  20px 0px 20px;
}

h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 25px;
      text-align: left;
}

.detailbox h4 {
    font: white;
    font-family: 'Oswald', sans-serif;
    
}

.contact_info {
    margin: 15px;
    width:45%;
    float:left;
    padding:20px;
    min-width: 122px;
    
}

.contact_info h4 {
    padding: 0px;
    margin: 0px;
}

.contact_info p {
    padding: 0px;
    margin:0px;
}

.contact_info a:hover{
    color: gray;

}

h4 a{
    font-family: 'Source Sans Pro', sans-serif;
     font-size: 25px;
     margin-bottom:none;
     color:black;
}

footer {
     background: gray;
     width: 100%;
     font-family: 'Source Sans Pro', sans-serif;
     color:white;
     font-size: 20px;
     padding: 20px;
     height: 60px;
     float: left;
     margin-top: 20px;
}

.logo {
     float: left;
     margin-top: 40px;
}

.fotorama {
     border: 10px solid white;
     height: 550px;
     width: 80%;
     margin-right: auto;
     margin-left: auto;
     position: center;
}    

aside .smallbox a{ 
     font-size: 20px;
     margin-bottom: 20px;
     margin-left: 20px;
     text-decoration: none;
     background: white;
     color:blue;
     font-family: 'Oswald', sans-serif;
     border-radius: 3px;
     padding: 10px;
     float: left;
     
}

aside .smallbox h3 {
    margin:0;
    padding: 20px;
}


.column:last-child {
  border-right: none;
}

/*Responsive Styles*/

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
   ul {
        position: static;
        display: none;
    }

    li {
        margin-bottom: 1px;
    }
   
    ul li, li a {
        width: 100%;
        background-image: url("../images/full_wood_texture.png");
    }

    ul li:hover .hidden {
        width: 100%
    }

    li:hover ul a {
        background-image: url("../images/full_wood_texture.png");
        width:100%;
        color: #2f3036;
        height: 40px;
        margin: 0px;
        border-right:none;
    }

    .pricing {
        width: 90%;
    }

    .show-menu {
        display:block;
    }

    #main {
        width: auto;
        margin: auto;
        display: block;
    }

    aside {
        float:none;
        width:auto;
    }

    .news ul{
        width: 100%;
        display: block;
        background:none;
    }

    .news li{
        background: none;
    }

    .coach_bio {
        width: 100%;
       
    }

    .coaches {
        float: left;
    }

    
