/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     background: white;
     background-size: 100%;
     font-size: 12px;
     line-height: 1.5;
     font-family: Helvetica;
     margin:0px;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 100%;
    max-width: 985px;
    margin: 40px auto auto auto;
    height:1200px;
  
}

h1 {
     background-image: url("../images/header_image.png");
     background-repeat: no-repeat;
     border-bottom: 5px solid white;
     margin:0px;
     padding-top: 30px;
     background-size: cover;
     height:250px;
     font-family: 'Oswald', sans-serif;
     font-size: 50px;
     text-align: center;
}

.wrapper {
    max-width: 1280px;
    margin:auto;
}

#page-header{
    overflow:hidden;
}

ul #menu {
    width:100%;
   
   
    
}
/*Strip the ul of padding and list styling*/
nav ul {
    list-style-type:none;
    background-image: url("../images/full_wood_texture.png");
    margin:0;
    border-top: 10px white;
    padding:0;
    position: absolute;
    width: 100%
}

/*Create a horizontal list with spacing*/
nav li {
    display:inline-block;
    width: 14.285%;
    float: left;
    
}

/*Style for menu links*/
nav li a {
    display:block;
    width:auto;
    min-width:140px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    font-family: Oswald;
    color: red;
    background: none;
    text-decoration: none;
    margin:10px;
    padding-right: 20px;
    padding-left: 5px;
    padding-bottom: 10px;

    
}

.leftnav li a {
    border-right: 1px solid red;
}

.rightnav li a {
    border-right: none;
}



/*Hover state for top level links*/
li:hover a {
    text-decoration: underline;
}


/*Style for dropdown links*/
li:hover ul a {
    background-image: url("../images/full_wood_texture.png");
    width:100px;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
    margin: 0px;
    border-right:none;
}



/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 10%;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
    background: none;

}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    color: #fff;
    background-image: url("../images/full_wood_texture.png");
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

#main {

     float: left;
     width:60%;
     margin-top: 60px;
     margin-right: 10px;

}

aside {
 
     float: right;
     width:38%;
     margin-top: 60px; 
}

article {
     
     width: 100%;
     background-size: 100%;
     padding:0px;
     margin-bottom: 20px;
     float:left;
     color: white;
     box-sizing: border-box;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;

}

article h3 {
    font-color: white;
     margin:0px;
     padding: 20px;

}

article p{
    margin: 0px;
    padding:20px;
}

.uniform{
  
    background-image: url("../images/uniform-photo_overlay.png");
    background-size: contain;

    background-repeat: no-repeat;

}

.bat {
    background-image: url("../images/Glove-and-ball_overlay.png");
    background-size: 100%;
    background-repeat: no-repeat;

}

.swingtop{
   background-image: url("../images/swing-photo_overlay.png");
   background-size: 100%;
   background-repeat: no-repeat;
}

.swingbottom{
    background-image: url("../images/batters-legs_overlay.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.contentbox ul {
    background-color: gray;
     width: auto;
     padding:10px;
     margin-bottom: 10px;
     float:left;
     color: black;
     box-sizing: border-box;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;


}

.detailbox {

     background-image: url("../images/Glove-and-ball_overlay.png");
     background-repeat: no-repeat;
     background-size: 100%;
     color: white;
     border-style: 10px solid white;
     padding: 10px 20px 10px 20px;
     box-sizing: border-box;
     margin-top: 120px;
     margin-right: 10px;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;

}

.coach_bio {
    width: 40%;
    height: 200px;
    background:gray;
    float: left;
}




.news {
     background-color:rgba(214, 213, 212, 0.85);
     width: auto;
     padding: 10px;
     margin-bottom: 10px;
     float:left;
     color: black;
     box-sizing: border-box;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;

     
}


h3 {

      font-family: 'Oswald', sans-serif;
      font-size: 25px;
      text-align: left;
}

.detailbox h4 {
    font: white;
    font-family: 'Oswald', sans-serif;
    
}

.detailbox ul {

}

h4 a{
    font-family: 'Source Sans Pro', sans-serif;
     font-size: 25px;
     margin-bottom:none;
     color:black;

}



footer {
     background: gray;
     font-family: 'Source Sans Pro', sans-serif;
     color:white;
     font-size: 20px;
     padding: 20px;
     height: 30px;
     position: relative;
}

.logo {
     float: left;
     margin-top: 40px;
}
.smallbox {
     background-color:rgba(214, 213, 212, 0.85);
     width: auto;
     padding: 0px;
     margin-bottom: 10px;
     float:left;
     color: white;
     box-sizing: border-box;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 20px;
     box-shadow: 1px 1px 1px black;
}

aside .smallbox a{ 
     font-size: 20px;
     margin: 0px;
     text-decoration: none;
     background: white;
     color:blue;
     font-family: 'Oswald', sans-serif;
     border-radius: 3px;
     padding: 10px;
     
}

aside .smallbox h3 {
    margin:0;
    padding: 20px;
}


.column:last-child {
  border-right: none;
}




/*Responsive Styles*/

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
         background-image: url("../images/full_wood_texture.png");
    }

    li:hover ul a {
        background-image: url("../images/full_wood_texture.png");
        width:100%;
        color: #2f3036;
        height: 40px;
        line-height: 40px;
        margin: 0px;
        border-right:none;
    }

    .show-menu {
        display:block;
    }

    #main {
        width: auto;
    }

    aside {
        float:none;
        width:auto;
    }


}




